<div class="documents-toolbar_modal modal incompatible-warning">
    <div class="modal-header">
        <h1 class="dialog-title">Compatibility Warning</h1>
    </div>
    <div class="modal-body">
        <div>Next extensions aren't compatible with your set of extensions:</div>
        <div class="incompatible-warning__extensions" data-bind="foreach: incompatibleExtensions">
            <div class="incompatible-warning__extension">
                <div data-bind="text: title"></div>
                <div>
                    <button class="dialog-button btn" data-bind="click: $parent.onRemove">Remove</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="dialog-button btn primary" data-bind="click: onClose, visible: !isChanged()">Close</button>
        <button class="dialog-button btn primary" data-bind="click: onRestart, visible: isChanged">Restart</button>
    </div>
</div>
