<div class="ext-documents">
    <div class="documents-holder">
        <span class="document">
            <i class="fa fa-folder-open-o button-icon" data-bind="click: onDocumentAdd" title="Open file"></i>
            <i class="fa fa-times button-icon" data-bind="click: onDocumentCloseAll" title="Close all open documents"></i>
        </span>
        <span class="document-holder" data-bind="foreach: documents">
            <span class="document" data-bind="css:{selected: $data._path === $parent.selectedPath(), changed: $parent.isChanged($data)}, click: $parent.onDocumentClick, event:{mouseover: $parent.onDocumentMouseIn, mouseleave: $parent.onDocumentMouseLeave, contextmenu: $parent.onDocumentContextMenu}, attr:{title: $data._path}, drag: true">
                <span class="document-icon" data-bind="css: $parent.getDocumentIcon($data), style:{color: $parent.getDocumentIconColor($data)}, visible: $parent.iconsEnabled"></span>
                <span class="document-name" data-bind="html: $parent.getDocumentName($data)"></span>
                <span class="document-close" data-bind="click: $parent.onDocumentClose">
                    <i class="fa fa-times-circle"></i>
                </span>
            </span>
        </span>
    </div>
    <div data-bind="with: tooltip, visible: tooltip">
        <div class="ext-documents-tooltip" data-bind="style:{left: $parent.getTooltipPosition($data)}">
            <div class="arrow-up"></div>
            <div class="ext-documents-tooltip_header">
                <span class="document-icon" data-bind="css: $parent.getDocumentIcon(data), style:{color: $parent.getDocumentIconColor(data)}"></span>
                <span data-bind="text: data._name"></span>
            </div>
            <div>
                <span>Path:</span>
                <span class="ext-documents-tooltip_path" data-bind="text: $parent.getRelativePath(data)"></span>
            </div>
        </div>
    </div>
</div>
