<div class="documents-toolbar_modal modal">
    <div class="modal-header">
        <h1 class="dialog-title" data-bind="locale: 'labelSettings'"></h1>
    </div>
    <div class="modal-body">
        <div class="options-pages">
            <span class="options-page" data-page="GENERAL" data-bind="css: {selected: isCurrentPageSelected($data, $element)}, click: setPage, locale: 'labelGeneral'"></span>
            <span class="options-page" data-page="RULES" data-bind="css: {selected: isCurrentPageSelected($data, $element)}, click: setPage, locale: 'labelRules'"></span>
        </div>
        <div data-page="GENERAL" data-bind="visible: isCurrentPageSelected($data, $element), with: generalOptions">
            <div>
                <input type="checkbox" data-bind="checked: showWorkingFiles" />
                <span data-bind="locale: 'optionShowWorkingFilesPanel'"></span>
            </div>
            <div>
                <input type="checkbox" data-bind="checked: showCloseButton" />
                <span data-bind="locale: 'show'"></span>
                <span class="fa fa-times-circle"></span>
                <span class="muted" data-bind="locale: 'closeButton'"></span>
                <span data-bind="locale: 'onTab'"></span>
                <span class="muted" data-bind="visible: !showCloseButton(), locale: 'optionMiddleButton'"></span>
            </div>
            <div>
                <input type="checkbox" data-bind="checked: useBracketsFont" />
                <span data-bind="locale: 'optionFont'"></span>
            </div>
        </div>
        <div data-page="RULES" data-bind="visible: isCurrentPageSelected($data, $element)">
            <div class="rule-set" data-bind="foreach: rules">
                <div class="dt-rule" data-bind="click: $parent.onSelectRule, css:{selected: $data === $parent.selectedRule()}">
                    <div class="dt-rule_background" data-bind="style:{background: background}"></div>
                    <div class="dt-rule_foreground" data-bind="style:{background: color}"></div>
                    <div class="dt-rule_name" data-bind="text: $parent.getCaption($data)"></div>
                </div>
            </div>
            <div class="rule-options" data-bind="with: selectedRule">
                <div class="_row">
                    <span data-bind="locale: 'applyTo'"></span>
                    <input data-bind="value: name"/>
                    <div class="muted">
                        <span data-bind="locale: 'labelApply'"></span>
                        <span data-bind="locale: 'use'"></span>
                        <a href="http://www.w3schools.com/jsref/jsref_obj_regexp.asp" data-bind="locale: 'regExp'"></a>
                        <span data-bind="locale: 'constructRule'"></span>
                    </div>
                </div>
                <div class="_row">
                    <input type="checkbox" data-bind="checked: forThisProjectOnly"/>
                    <span data-bind="locale: 'labelRule'"></span>
                    <div data-bind="visible: project() !== null">
                        <span data-bind="locale: 'project'"></span>
                        <input data-bind="value: project" />
                    </div>
                </div>
                <div class="_row">
                    <div id="color-background">
                        <div style="text-align: center;">
                            <span data-bind="locale: 'background'"></span>
                            <div class="colorpicker" data-bind="colorpicker: background"></div>
                        </div>
                        <input class="color-text" data-bind="textInput: background" />
                    </div>
                    <div id="color-foreground">
                        <div style="text-align: center;">
                            <span data-bind="locale: 'color'"></span>
                            <div class="colorpicker" data-bind="colorpicker: color"></div>
                        </div>
                        <input class="color-text" data-bind="textInput: color" />
                    </div>
                </div>
                <div class="_row tab-preview" data-bind="style:{color: color, background: background}">
                    <p data-bind="locale: 'preview'"></p>
                </div>
            </div>
            <div class="buttons-set">
                <button class="btn" data-bind="click: addNewRule, locale: 'labelAddRule'"></button>
                <button class="btn" data-bind="click: removeRule, enable: selectedRule, locale: 'remove'"></button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="dialog-button btn primary" data-bind="click: onClose, locale: 'close'"></button>
    </div>
</div>
