.ext-documents .document-holder {
    position: relative !important;
}
/*.ext-documents .document {
    margin-right: -2px !important;
}*/
div.documents-holder > span.document {
    padding-right: 2px;
    padding-left: 4px;
}

.ext-documents .document-close {
    background: inherit;
    padding: 0 0 0 4px;
    opacity: 0;
    position: absolute;
    right: 8px;
}
.ext-documents .document:hover .document-close {
    opacity: 1;
}
.qftblock {
    margin-top: 0;
}
