.ext-documents{
    height: 35px;
}

.ext-documents .documents-holder{
    padding-top: 7px;
    width: 1000%;
}

.ext-documents .document{
    padding-left: 12px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 4px;
    margin-right: 4px;
    position: relative;
    background: #333;
    color: white;
    display: inline-block;
    transition: 0.25s all;
}

.ext-documents .document.selected{
    color: rgb(0, 184, 255);
    background: #1d1f21;
}

.ext-documents .document-icon{
    font-size: 20px;
    position: absolute;
    top: 5px;
    left: 4px;
}

.ext-documents .document-name{
    padding-right: 4px;
    margin-left: 14px;
}

.ext-documents .document:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-width: 10px 10px 0px 0px;
    border-style: solid;
    border-color: rgb(60, 63, 65) transparent transparent rgb(60, 63, 65);
    z-index: 10;
}

.ext-documents .document-close, .ext-documents .document.plus{
    color: white;
    transition: 0.25s all;
    cursor: pointer;
}

.ext-documents .document-close:hover, .ext-documents .document.plus:hover{
    color: rgb(0, 184, 255);
}
